body.move{
	cursor: grab!important;
}

body.resize{
	cursor: e-resize!important;
}

button.chart-ctrl{
	font-size:16px;
	padding:0.5rem 1rem;
}

.num-view{
	overflow: hidden;
    height: 1rem;
    position: relative;
}
.num-view .text-point{
	position:absolute;
}

.chart{
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	margin-top: 20px;
	box-sizing: border-box;
	position: relative;
}

/* .xaxis-segment{
	transition: transform 300ms linear 0s, opacity 300ms linear 0s;
} */


/* .chart svg path { 
	transition: all .3s linear; 
} */
/* .chart svg .xaxis .xaxis-segment{
	transition: transform .3s linear, opacity .3s linear; 
}  */
/* .chart svg .xaxis [opacity="0"]{
   display:none;  
   transition:none!important;
}  */


.chart, .chart svg, .chart .info-box{
	background: white;
	transition: background .1s linear;
}

.chart.night_mode, .chart.night_mode svg, .chart.night_mode .info-box{
	background:rgb(36, 47, 62);
}

.chart .circle{
	stroke-width: 2px;
}

.chart .segment, .chart .circle{
	fill: white;
}
.chart.night_mode .segment, .chart.night_mode .circle{
	fill:rgb(36, 47, 62);
}


.chart .info-box{
    position: absolute;
    top: 10px;
	left: 50px;
	border: 1px solid rgba(50, 48, 111, 0.2);
	padding:.5rem;
	border-radius:5px;
}

.chart.night_mode .info-box{
	color:white;
	border-color: rgba(107, 124, 144, 0.5);
}
.chart .info-box .title{
	margin-bottom: 5px;
}
.chart .info-box ul{
	margin:0;
	padding: 0;
	list-style: none;
	display:flex;
	margin:0 -5px;
}
.chart .info-box li{
	padding:0 5px;
}
.chart .info-box li .name{
	font-size:.8rem;
}



.chart .preview {
	position: relative;
}

.chart .view-map {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	top: 0;
}

.chart .view-map .item {
	background: rgba(50, 48, 111, 0.1);	
}
.chart.night_mode .view-map .item{
	background: rgba(14, 28, 45, 0.5);
}


.view-map .item:last-child {
	flex-grow: 1;
}

.view-map .item.view {
	border-top: 2px solid rgba(50, 48, 111, 0.2);
	border-bottom: 2px solid rgba(50, 48, 111, 0.2);
	background: none!important;
	position: relative;
	cursor: grab;
}
.chart.night_mode .view-map .item.view{
	border-color: rgba(107, 124, 144, 0.5);
}

.view-map .item.view .res {
	position: absolute;
	height: 0;
	width: 5px;
	height: 100%;
	background:rgba(50, 48, 111, 0.2);
	cursor: e-resize;
}

.chart.night_mode .view-map .item.view .res{
	background: rgba(107, 124, 144, 0.5);
}
	

.view-map .item.view .res.res-left {
	left: 0;
}

.view-map .item.view .res.res-right {
	right: 0;
}






.grid {
	fill: none;
	stroke-width: 0.2;
	stroke: gray;
}